name: CI + Security (Juice Shop)

on:
  push:
    branches: [ "main", "security-ci" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  build-test:
    name: Build & Test (Node)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install deps
        run: npm ci

      # У Juice Shop нет unit-тестов по умолчанию, но сборка/линты важны
      - name: Lint (optional)
        run: npm run lint --if-present

      - name: Build (optional)
        run: npm run build --if-present

  codeql:
    name: CodeQL (SAST)
    needs: build-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript, typescript

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Analyze
        uses: github/codeql-action/analyze@v3

  semgrep:
    name: Semgrep (SAST)
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Semgrep scan (OWASP Top 10)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/owasp-top-ten
          generateSarif: true
          output: semgrep.sarif

      - name: Upload Semgrep SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif

      - name: Save Semgrep artifact
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: semgrep.sarif

  trivy-sca:
    name: Trivy (SCA deps)
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Trivy scan (deps)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: 'fs'
          vuln-type: 'library'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy.sarif'
          severity: 'HIGH,CRITICAL'

      - name: Upload Trivy SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy.sarif

      - name: Save Trivy artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sca-report
          path: trivy.sarif
